/**SECTION PRODUCT**/
.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem 2rem 2rem;
    margin-bottom: -1rem;
}

.product__image {
    margin-right: 4.2rem;
    justify-self: right;
}

.product__image img {
    height: 270px;
    width: 70px;
}

.product__description h2 {
    margin-bottom: 1.8rem;
}

.product__description h2:last-child {
    margin-bottom: 0rem;
}

.product__title {
    font-size: 2.3rem;
}

.product__btn {
    justify-self: right;
    padding: .7rem;
    margin-top: 2rem;
    color: var(--cor-preta);
    background-color: var(--cor-vinho-verde);
    border: 1px solid var(--cor-preta);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 550;
    cursor: pointer;
    transition: all .5s;
}
.product__btn:hover {
    color: var(--cor-branca);
}